Body {background-color:rgb(189, 189, 243) }
h1 {
  font-size: 90px;
  color: rgb(204, 16, 148);
  text-align:center;

}
.column {
  width: 27%;
  padding:20px;
  float: left;
  margin: 15px;
  border: solid rgb(172, 119, 221);
  border-width: 12px;
  background-color: lightskyblue;
}

.column img {
  width: 100%;
  
}
h2 {
  font-size: 70px;
  color: rgb(20, 87, 104);
  text-align:center;
}

